<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<%= render 'layouts/header' %>

<section class="row-alt">
  <div class="lead container">
    <h1>Bus Schedules</h1>
  </div>
</section>
<section class="row">
  <div class="container">

    <table>
      <tr>
        <th>Route
          <% @bus_schedules.each do |r| %>
              <p>
                <% @bus_routes.each do |i| %>
                    <% if i.id == r.route_id %>
                        <%= i.Name %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>Stop
        <% @bus_schedules.each do |r| %>
            <p>
              <% @bus_stops.each do |i| %>
                  <% if i.id == r.stop_id %>
                      <%= i.name %>
                  <% end %>
              <% end %>
            </p>
        <% end %>
      </th>

        <th>Price
        <% @bus_schedules.each do |r| %>
            <p>
              <% @bus_stops.each do |i| %>
                  <% if i.id == r.stop_id %>
                      <%= r.price %>
                  <% end %>
              <% end %>
            </p>
        <% end %>
      </th>

        <th>Arrival Time
          <% @bus_schedules.each do |r| %>
              <p>
                <% @bus_stops.each do |i| %>
                    <% if i.id == r.stop_id %>
                        <%= r.arrival_time.to_s(:time) %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>
        <th>
          <% @bus_schedules.each do |r| %>
              <p>
                <%= button_to 'Delete', r, method: :delete %>
              </p>
          <% end %>
        </th>
      </tr>

      </tbody>
      <%= link_to 'Add bus schedule', '/bus_schedules/new', class: "btn btn-default" %>
    </table>
  </div>
</section>


<!-- Footer -->

<%= render 'layouts/footer' %>

</body>
</html>
<style>

</style>