<!DOCTYPE html>
<html lang="en">
<title>Employee</title>
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>
<%= render 'layouts/header' %>
<section class="row-alt">
  <div class="lead container">
    <h1>Add a bus schedule</h1>
  </div>
</section>

<section class="row">
  <div class="grid">
    <fieldset class="register-group" >
      <%=form_for(@bus_schedule) do |f| %>
          <%= f.label :arrival_time, "Arrival Time" %>
          <%= f.time_select :arrival_time %>

          <%= f.label :price, "Price" %>
          <%= f.text_field :price %>

          <%= f.label :stop_id, "Pick a stop" %>
          <%= f.select(:stop_id, @stop_options) %>

          <%= f.label :route_id, "Pick a bus route" %>
          <%= f.select(:route_id, @route_options) %>

          </fieldset>
          <%= f.submit "Done", class: "btn btn-default" %>

      <% end %>
      </div>
</section>
<%= render 'layouts/footer' %>
</body>
</html>