<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<%= render 'layouts/header' %>

<section class="row-alt">
  <div class="lead container">
    <h1>Employees</h1>
  </div>
</section>
<section class="row">
  <div class="container">

      <table>
        <tr>
          <th>First Name
          <% @employees.each do |r| %>
              <p>
                <%= r.FirstName %>
              </p>
          <% end %>
          </th>
          <th>Middle Name
            <% @employees.each do |r| %>
                <p>
                  <%= r.MiddleName %>
                </p>
            <% end %>
          </th>
          <th>Last Name
            <% @employees.each do |r| %>
                <p>
                  <%= r.LastName %>
                </p>
            <% end %>
          </th>

          <th>Pay
          <% @employees.each do |r| %>
              <p>
                <%= r.Pay %>
              </p>
          <% end %>
          </th>
          <th>Birthday
          <% @employees.each do |r| %>
              <p>
                <%= r.Birthday %>
              </p>
          <% end %>
          </th>

          <th>Address
            <div id = "employee_Address">
          <% @employees.each do |r| %>
              <p>
                <%= r.Address %>
              </p>
          <% end %>
                </div>
          </th>
          <th>Email
          <% @employees.each do |r| %>
              <p>
                <%= r.Email %>
              </p>
          <% end %>
          </th>
          <th>
            <% @employees.each do |r| %>
                <p>
                  <%= button_to 'Delete', r, method: :delete %>
                </p>
            <% end %>
          </th>
      </tr>

      </tbody>
        <%= link_to 'Add Employee', new_employee_path, class: "btn btn-default" %>
    </table>
  </div>
</section>


<!-- Footer -->

<%= render 'layouts/footer' %>

</body>
</html>
<style>

</style>