<!DOCTYPE html>
<html lang="en">
<title>Employee</title>
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>
  <%= render 'layouts/header' %>
  <section class="row-alt">
  <div class="lead container">
    <h1>Employee Profile</h1>
  </div>
</section>

<section class="row">
  <div class="grid">
      <fieldset class="register-group" >
        <h1>Personal Information</h1>
        <%=form_for(@employee) do |f| %>
            <%= f.label :FirstName, "First Name" %>
            <%= f.text_field :FirstName, class: "name" %>

            <%= f.label :MiddleName, "Middle Name", id: "midlebel" %>
            <%= f.text_field :MiddleName, class: "name", id: "middle"%>

            <%= f.label :LastName, "Last Name", id: "lastlabel" %>
            <%= f.text_field :LastName, class: "name", id: "last"%>
            </br>
            <%= f.label :Birthday, "Date of Birth" %>
            <%= f.date_select(:Birthday, start_year: 1939, end_year: 1998)%>
            </br>
            <%= f.label :Email %>
            <%= f.text_field :Email, class: "col-1-3" %>
            </br>
            <%= f.label :role_id, "Position" %>
            <%= f.select(:id, @user_options) %>
            </br>
            <%= f.label :Pay, "Paid Rate (per hour)" %>
            <%= f.number_field :Pay, class: "col-1-3" %>
            </br>
            <%= f.label :Address %>
            <%= f.text_field :Address, class: "col-1-3" %>

            <h1>Schedule</h1>
            <%=form_for(@employee_schedule) do |j| %>

                <%= j.label :startTime, "Start Time" %>
                <%= j.time_select :startTime %>
                </br>
                <%= j.label :endTime, "End Time" %>
                <%= j.time_select :endTime %>

                </br>
                <%= j.label :bus_id, "Bus ID" %>
                <%= j.text_field :bus_id %>
                </fieldset>
                <%= j.submit "Done", class: "btn btn-default" %>
                <% end %>

        <% end %>
  </div>
</section>
  <%= render 'layouts/footer' %>
</body>
</html>