<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<%= render 'layouts/header' %>

<section class="row-alt">
  <div class="lead container">
    <h1>Employee Schedules</h1>
  </div>
</section>
<section class="row">
  <div class="container">

    <table>
      <tr>
        <th>Name
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= i.FirstName%>
                        <%= i.LastName %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>Start Time
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.startTime.to_s(:time) %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>End Time
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.endTime.to_s(:time) %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>Bus ID
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.bus_id %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>
          <% @employee_schedules.each do |r| %>
              <p>
                <%= button_to 'Delete', r, method: :delete %>
              </p>
          <% end %>
        </th>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- Footer -->
<%= render 'layouts/footer' %>

</body>
</html>
<style>

</style>