<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<header class="primary-header container group">

  <h1 class="logo">
    <a href="index.html">Public <br> Transit</a>
  </h1>

  <h3 class="tagline">City of Berkeley, CA</h3>

  <nav class="nav primary-nav">
    <ul>
      <li><a href="index.html">Home</a></li>
    </ul>
  </nav>

</header>

<section class="row-alt">
  <div class="lead container">
    <h1>Employee Schedules</h1>
  </div>
</section>
<section class="row">
  <div class="container">

    <table>
      <tr>
        <th>Name
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= i.FirstName%>
                        <%= i.LastName %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>Start Time
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.startTime.to_s(:time) %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>End Time
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.endTime.to_s(:time) %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>

        <th>Bus ID
          <% @employee_schedules.each do |r| %>
              <p>
                <% @employees.each do |i| %>
                    <% if i.schedule_id == r.id %>
                        <%= r.bus_id %>
                    <% end %>
                <% end %>
              </p>
          <% end %>
        </th>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- Footer -->

<footer class="primary-footer container group">

  <small>&copy; Styles Conference</small>

  <nav class="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
    </ul>
  </nav>

</footer>

</body>
</html>
<style>

</style>