<!DOCTYPE html>
<html lang="en">
<title>Register</title>
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>
<%= render 'layouts/header' %>
<section class="row-alt">
  <div class="lead container">
    <h1>Add Stop</h1>
  </div>
</section>

<section class="row">
  <div class="grid">
    <fieldset class="register-group" >
      <%=form_for(@stop) do |f| %>
          <%= f.label :name, "Stop Name" %>
          <%= f.text_field :name %>

          </fieldset>
          <%= f.submit "Done", class: "btn btn-default" %>
      <% end %>
      </div>
</section>
<%= render 'layouts/footer' %>
</body>
</html>