<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<%= render 'layouts/header' %>

<section class="row-alt">
  <div class="lead container">
    <h1>Routes</h1>
  </div>
</section>
<section class="row">
  <div class="container">

    <table>
      <tr>
        <th>Route Name
          <% @routes.each do |r| %>
              <p>
                <%= r.Name %>
              </p>
          <% end %>
        </th>
        <th>Destination
          <% @routes.each do |r| %>
              <p>
                <%= r.destination %>
              </p>
          <% end %>
        </th>
        <th>Established
          <% @routes.each do |r| %>
              <p>
                <%= r.created_at.to_date %>
              </p>
          <% end %>

        </th>

        <th>
          <% @routes.each do |r| %>
              <p>
                <%= button_to 'Delete', r, method: :delete %>
              </p>
          <% end %>
        </th>
      </tr>

      </tbody>
      <%= link_to 'Add Route', '/routes/new', class: "btn btn-default" %>
    </table>
  </div>

</section>


<!-- Footer -->

<%= render 'layouts/footer' %>

</body>
</html>
<style>

</style>