<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Public Transit</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>

<!-- Header -->

<%= render 'layouts/header' %>

<section class="row-alt">
  <div class="lead container">
    <h1>Buses</h1>
  </div>
</section>
<section class="row">
  <div class="container">

    <table>
      <tr>
        <th>Bus ID
          <% @buses.each do |r| %>
              <p>
                <%= r.id %>
              </p>
          <% end %>
        </th>
        <th>License Plate
          <% @buses.each do |r| %>
              <p>
                <%= r.license_plate %>
              </p>
          <% end %>
        </th>
        <th>Type
          <% @buses.each do |r| %>
              <p>
                <%= r.bus_type %>
              </p>
          <% end %>
        </th>

        <th>Year
          <% @buses.each do |r| %>
              <p>
                <%= r.year %>
              </p>
          <% end %>
        </th>
        <th>Capacity
          <% @buses.each do |r| %>
              <p>
                <%= r.capacity %>
              </p>
          <% end %>
        </th>

        <th id = "m_notes">Maintenance Notes
          <div id = "m_notes">
            <% @buses.each do |r| %>
                <p>
                  <%= r.maintenance_status %>
                </p>
            <% end %>
          </div>
        </th>
        <th>
          <% @buses.each do |r| %>
              <p>
                <%= button_to 'Delete', r, method: :delete %>
              </p>
          <% end %>
        </th>
      </tr>

      </tbody>
      <%= link_to 'Add bus', new_bus_path, class: "btn btn-default" %>
    </table>
  </div>
</section>


<!-- Footer -->

<%= render 'layouts/footer' %>

</body>
</html>
<style>

</style>