<!DOCTYPE html>
<html lang="en">
<title>Register</title>
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <%= stylesheet_link_tag "main" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
</head>

<body>
<%= render 'layouts/header' %>
<section class="row-alt">
  <div class="lead container">
    <h1>Add Bus</h1>
  </div>
</section>

<section class="row">
  <div class="grid">
    <h1>Bus Info</h1>
    <fieldset class="register-group" >
      <%=form_for(@bus) do |f| %>
          <%= f.label :bus_type, "Type" %>
          <%= f.text_field :bus_type %>

          <%= f.label :year, "Year" %>
          <%= f.select :year, (Time.zone.now.year - 35)..(Time.zone.now.year + 1) %>
          </br>
          <%= f.label :capacity, "Capacity" %>
          <%= f.text_field :capacity %>

          <%= f.label :capacity, "License Plate" %>
          <%= f.text_field :license_plate %>

          </br>
          <%= f.label :maintenance, "Maintenance Notes", id:"notes" %>
          </br>
          <%= f.text_field :maintenance_status %>

          <h1>Assign a route</h1>

          <%= f.label :role_id, "Choose a route" %>
          <%= f.select(:id, @user_options) %>

          </fieldset>
          <%= f.submit "Done", class: "btn btn-default" %>
      <% end %>
      </div>
</section>
<%= render 'layouts/footer' %>
</body>
</html>